<!DOCTYPE html>
    <html lang="ja">
    <head>  
        <meta charset="utf-8">  
        <title>Vue.js App</title>  
        <link href="main.css" rel="stylesheet"> 
    </head>     
    <body>  
        <div id="app">    
            <p>{{message.value}}</p>
	    <input v-model="message.value">
	    <p v-if="show">Hello Vue.js</p>
            <ol>
                <li v-for="item in list">{{item}}</li>
            </ol>
            <button v-on:click="show=!show">Change</button>
	    <transition>
	    <p v-if="show">Hello Vue.js!</p>
	    </transition>

	    <p>{{count}}clicked!</p>
	    <button v-on:click="increment">count</button>
	    <h2>data binding</h2>
	    <p>{{message.value}}</p>
	    <p>{{message.value.length}}</p>
	    <p>{{list[2]}}</p>
	    <p>{{list[num]}}</p>
	    <input type="text" v-bind:value="message">
	   
		
	    <p v-bind:class="classObject">Text</p>
	    <p v-bind:style="styleObject">Text</p>

	    <div v-if="ok">v-if conditional branching</div>
	    <div v-show="ok">v-show conditional branching</div>
	    <ul>
	    	<li v-for="item in list1" v-bind:key="item.id" v-bind:class="{tuyoi:item.hp>300}">
		ID.{{item.id}} {{item.name}} HP.{{item.hp}}
		<span v-if="item.hp>300">strong!</span>
		</li>
	    </ul>

	    <input v-model="name">
		<button v-on:click="doAdd">Add monster</button>
	    <ul>
		    <li v-for="item in list1" v-bind:key="item.id">
			    ID.{{item.id}} {{item.name}} HP.{{item.hp}}
				<buttom v-on:click="doRemove(index)">delete monster</buttom>
			</li>
	   </ul>

        </div>
        <script    src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
    </html>
